# Homework 2

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### NAME : Derek Topper
### ID : 26861675

### Mandatory : Please print the output of each question below your code

## Lists

1.1 Create an empty Python list called 'a' in the cell below.

In [1]:
#your code here
a = []
print(a)

[]

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [2]:
#your code here
a = list(range(1,101, 3))
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [3]:
#your code here
#Frange from Stack Oveerflow
def frange(x, y, jump):
    while x < y:
        yield x
        x += jump

a2 = list(frange(2, 46.1, .5))
print(a2)

[2, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0]

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.

In [4]:
#your code here
for each in range(len(a)):
    if a[each] % 2 == 0:
        a[each] = (a[each]*2)
    else: 
        pass
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 80, 43, 92, 49, 104, 55, 116, 61, 128, 67, 140, 73, 152, 79, 164, 85, 176, 91, 188, 97, 200]

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1 and similarly for the 21st element).

In [5]:
#your code here
sum_ = 0
for each in range(len(a)):
    if each == 20 or each == 1:
        pass
    else: 
        sum_ += a[each]
print(sum_)

2532

1.6 Calculate the mean of 'a'.

In [6]:
#your code here
mean = sum(a)/len(a)
print(mean)

76.5

1.7 Delete all elements greater than the mean value from list 'a'

In [7]:
#your code here
a = [each for each in a if each < mean]
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 43, 49, 55, 61, 67, 73]

## Strings

2.1 Create an empty list called 'b'.

In [8]:
#your code here
b = []
print(b)

[]

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [9]:
#your code here
sentence = 'I am so excited about Data-X. It is important to be able to work with data.'
b = sentence.split(' ')
print(b)

['I', 'am', 'so', 'excited', 'about', 'Data-X.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data.']

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [10]:
#your code here
e = 0
for each in b:
    e += each.count('e')
print(e)

4

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [11]:
#your code here
b = [w.replace('i','1') for w in b]
b = [w.replace('I','1') for w in b]
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.']

2.5 Append the string "This is the end of the first HW." to the list 'b'.

In [12]:
#your code here
string = "This is the end of the first HW."
f = [b.append(w) for w in string.split(" ")]
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data.', 'This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW.']

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [13]:
#your code here
str1 = ' '.join(b)
print(str1[::-1])

.WH tsrif eht fo dne eht si sihT .atad ht1w krow ot elba eb ot tnatropm1 s1 t1 .X-ataD tuoba det1cxe os ma 1

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', 'Beta', 'Gamma', 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [14]:
#your code here
codes = {'1001':'Alpha', 
         '1002':'Beta', 
         '1003': 'Gamma', 
         '1004':'Delta', 
         '1005':'Tau'}
print(codes)

{'1001': 'Alpha', '1002': 'Beta', '1003': 'Gamma', '1004': 'Delta', '1005': 'Tau'}

3.2 Delete 'alpha' from the dictionary.

In [15]:
#your code here
del codes['1001']
print(codes)

{'1002': 'Beta', '1003': 'Gamma', '1004': 'Delta', '1005': 'Tau'}

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.

In [16]:
#your code here
c = set([1, 3, 5, 7, 9])
print(c)

{1, 3, 5, 7, 9}

4.2 Create another set called 'd' with elements 2, 5, 10, 30.

In [ ]:
#your code here
d = set([2,5,10,30])
print(d)

{2, 10, 5, 30}

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [ ]:
#your code here
print(c|d)

{1, 2, 3, 5, 7, 9, 10, 30}

4.4 Find the intersection between sets 'c' and 'd'.

In [ ]:
#your code here
print(c&d)